# Ignore all files in MacOS's ._* resource fork folder
.DS_Store
._*

# Ignore all files in Windows Thumbs.db folder
Thumbs.db

# Ignore all files in Windows desktop.ini folder
desktop.ini

# Ignore all files with a .o or .obj extension
*.o
*.obj

# Ignore all files with a .out or .exe extension
*.out
*.exe

# Ignore all files with a .log or .aux extension
*.log
*.aux

# Only include .c, .h, .a and Makefile files
!*.c
!*.h
!*.a
!Makefile
